@charset "utf-8";

@font-face {
    font-family: 'FuturaT';
    src: url('../fonts/FuturaT-Book.eot');
    src: url('../fonts/FuturaT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaT-Book.woff2') format('woff2'),
        url('../fonts/FuturaT-Book.woff') format('woff'),
        url('../fonts/FuturaT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaTBold';
    src: url('../fonts/FuturaTBold.eot');
    src: url('../fonts/FuturaTBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaTBold.woff2') format('woff2'),
        url('../fonts/FuturaTBold.woff') format('woff'),
        url('../fonts/FuturaTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT';
    src: url('../fonts/FuturaBT.eot');
    src: url('../fonts/FuturaBT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaBT.woff2') format('woff2'),
        url('../fonts/FuturaBT.woff') format('woff'),
        url('../fonts/FuturaBT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/DIN-Light.eot');
    src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DIN-Light.woff2') format('woff2'),
        url('../fonts/DIN-Light.woff') format('woff'),
        url('../fonts/DIN-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
	--blood-red: #e10921;
	--blackish: #1e1e1e;
	--dark: #201d1e;
	--gray: #c7c8ca;
	--light-gray: #9c9b9b
}

/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
/* /END RESET */
body {
	display: flex;
	flex-direction: column;
	font-family: 'DIN';
	font-size: 15px;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-start {
	align-items: flex-start;
}

.flex-column {
	flex-direction: column;
}

.flex-justify-center {
	justify-content: center;
}

.FuturaT {
	font-family: 'FuturaT';
}

.FuturaTBold {
	font-family: 'FuturaTBold';
}

.FuturaBT {
	font-family: 'FuturaBT';
}

.font-11 {
	font-size: 11px;
}

.font-18 {
	font-size: 18px;
}

.font-22 {
	font-size: 22px;
}

.font-30 {
	font-size: 30px;
}

.font-34 {
	font-size: 34px;
}

.font-36 {
	font-size: 36px;
}

.font-109 {
	font-size: 109px;
}

.content {
	flex: 1 0 auto;
}

.white-font {
	color: #fff;
}

.white-bg {
	background-color: #fff;
}

.red-bg {
	background-color: var(--blood-red);
}

.blackish-bg {
	background-color: var(--blackish);
}

.red-font {
	color: var(--blood-red);
}

.dark-font {
	color: var(--dark);
}

.gray-font {
	color: var(--gray);
}

.light-gray-font {
	color: var(--light-gray);
}

.m-bottom35 {
	margin-bottom: 35px;
}

.m-top35 {
	margin-top: 35px;
}

.m-bottom50 {
	margin-bottom: 50px;
}

.p-30 {
	padding: 30px;
}

.p-bottom75 {
	padding-bottom: 75px;	
}

.bottom-border {
	align-self: flex-end;
	height: 2px;
	background: var(--gray);
	flex: 1 1 auto;
	margin-bottom: 10px;
}

p {
	line-height: 150%;
	margin: 0 0 20px;
}

h1,
h2 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 15px;
	margin: 0 0 12px;
	font-weight: normal;
}

h4, h5, h6 {
	margin: 5px 0 5px;
	font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {}

a img {
	border: none;
	outline: none;
}

a {
	color: #363636;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
}

/* / */
	
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* /END CLEARFIX */

.overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
	background: rgba(0,0,0,0.5) url('../img/loader.gif') center center no-repeat;
}

.centerFlex,
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#carousel-container {
	padding-top: 70px;
}

#carousel [class^="col"] {
	padding-left: 0;
	padding-right: 0;
}

#carousel img {
	width: 100%;
}

#carousel #carousel-list {
	color: var(--gray);
}

#carousel #carousel-list :hover,
#carousel #carousel-list .active {
	color: var(--blood-red);
	cursor: pointer;
}

ul.list-vertical {
	list-style: none;
}

ul.list-vertical li {
	display: inline-block;
	margin: auto;
	margin-right: 25px;
}

.small_container  {
	text-align: center;
}

.small_container img {
	max-width: 100%;
}

div.line {
	width: 68px;
	max-width: 100%;
	border-top: 3px solid #fff;
}

.centerFlex {
	height: 100%;
	padding: 0 20px;
}

.title p {
	font-size: 12px;
	margin: 35px 0 0 0;
	max-width: 250px;
	text-align: center;
}

a#read_more {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: 7px 25px;
	border: 2px solid #696969;
	color: #404040;
}

header {
	padding: 135px 0 95px 0;
	background: #797979 url('../img/woman.jpg') center/cover no-repeat;
	color: #d6d6d6;
}

header a#read_more {
	border-color: #d6d6d6;
	color: #d6d6d6;

}

header .title p {
	margin-bottom: 100px;
}

header .title h1 {
	color: #fff;
}

header #down {
	margin-top: 45px;
	font-size: 24px;
	cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.navbar {
	position: sticky;
	top: 0;
	padding-top: 10px;
	padding-bottom: : 10px;
	border-bottom: 2px solid #f7f7f7;
	background: #fff;
}

nav #onepage {
	color: #181818;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}

nav .topnav {
	overflow: hidden;
}

nav .topnav a {
	color: #797979;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

nav .topnav a:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #a69a6a;
	bottom: 0;
	animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav .topnav a:hover:before,
nav .topnav a:active:before {
	animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #a69a6a;
}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

nav .topnav a:nth-child(1){animation:show .2s .15s ease 1 both;}
nav .topnav a:nth-child(2){animation:show .2s .25s ease 1 both;}
nav .topnav a:nth-child(3){animation:show .2s .35s ease 1 both;}
nav .topnav a:nth-child(4){animation:show .2s .45s ease 1 both;}
nav .topnav a:nth-child(5){animation:show .2s .55s ease 1 both;}

.container820 {
	width: 820px;
	max-width: 100%;
}

#didYouKnow {
	padding: 25px;
}

#didYouKnow > div:first-child {
	width: 216px;
	height: 216px;
	padding: 13px;
	margin-right: 30px;
}

#didYouKnow > div > div {
	border: 2px solid #fff;
	height: 100%;
	width: 100%;
}

.break-word {
	word-break: break-all;
}

#didYouKnow > div > div > span:first-child {
	line-height: 0.8;
}

.input {
	background: none;
	color: #fff;
	border: none;
	text-align: center;
	font-size: 18px;
	width: 100%;
	border-bottom: 2px solid #fff;
	margin-bottom: 25px;
	line-height: 2;
	outline: none;
	font-family: sans-serif;
}

.input:focus {
	color: var(--blood-red);
	border-color: var(--blood-red);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--blood-red);
}

:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--blood-red);
}

:focus::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--blood-red);
}

textarea {
	resize: none;
	padding-top: 30px;
}

.button {
	background-color: transparent;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #fff;
  font-weight: bold;
}

.invalid {
	background: #ff4f4f66;
}

footer {
	flex-shrink: 0;
}

summary {
}

@media (min-width: 821px) {
	#carousel-container {
		padding-bottom: 240px;
	}

	#carousel-container + section {
		padding-top: 240px;
	}

	#didYouKnow {
		position: absolute;
		bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
	}
}

@media (min-width: 992px) {
	#carousel #left-text {
		padding-left: 80px;
	}

	.bottom-border {
		margin-right: 60px;
	}
}

@media (min-width: 576px) {
	[class*="navbar-expand"] .navbar-nav .nav-link {
		padding-right: 10px;
		padding-left: 10px;
		margin-right: 5px;
		margin-left: 5px;
	}

	nav .topnav a {
		 padding: 0 10px; 
		 text-align: center;
	}
}

@media (max-width: 820px) {
	#didYouKnow > div:first-child {
		margin-bottom: 30px;
	}

	#carousel-container .container {
		margin-bottom: 75px;
	}

	#form-container {
		padding-top: 75px;
	}
}

@media (max-width: 991px) {
	.lg-center-text {
		text-align: center;
	}

	.p-lg-30 {
		padding: 30px;
	}
}

